*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
}
header span{
    color: white;
    margin-left: 7em;
    font-weight: bolder;
}
.nav{
    height: 3em;
    background-color: black;
    padding-top: 5px;
}
button{
    height: 35px;
    border-radius: 5px;
    width: 6em;
}
button:hover{
    cursor: pointer;
}
.seconnecter{
    word-spacing: normal;
}
a{
    text-decoration: none;
    color: #b4b3b3;
}
li{
    display: inline-block;
    font-weight: bold;
}
.ul{
    margin-left: 70em;
    display: inline-block;
    word-spacing: 1rem;
}
.nav2{
    height: 3em;
    background-color: #2c2c2c;
    padding-left: 8em;
    padding-top: 1em;
    word-spacing: 8em;
    font-weight: bold;
    font-size: 15px;
}
.nav a:hover{
    color: white;
    opacity: 1;
}
.a_la_une{
    word-spacing: normal;
}
header{
    width: 100%;

}
.container{
    display: inline-block;
    width: 65%;
    height: 100%;
    background-color: #ffffff;
}
h1, h2{
    font-size: 2em;
    padding-left: 110px;
    padding-top: 1em;
}
.container iframe{
    padding-left: 7em;
    margin-right: 1em;
    float: left;
    width: 720;
    height: 350;
}
.container h3, span{
    padding-left: 2em;
}
.box1{
    height: 22em;
    margin-top: 2em;
}
H3{
    margin-left: 4em;
    margin-top: 2em;
}
hr{
    margin-top: 1em;
    width: 3em;
    height: 12px;
    margin-left: 7em ;
    position: relative;
    top:15px;
    background-color: black;
}
.container2{
    display: inline-block ;
    position: absolute;
    width: 41em;
    height: 210em;
    background-color: #eae9e9;
}
.box2{
    height: 35em;
    margin-top: 8em;
    padding-right: 20em;
}
.plus_de, .ala_une{
    position: relative;
    top: 6em;
    color: #707070;
    font-weight: bolder;
}
.plus_de{
    font-weight: bold;
    color: black;
}
.a_la_une{
    color: #707070;
    font-weight: bolder;
}
.container2 iframe{
    margin: 1em
}
.daily{
    color: white;
    font-weight: bolder;
  margin-left: 5em;
}
.footer{
    border-top: 2px solid rgba(190, 189, 189, 0.78);
    width: 117em;
    background-color: #ffffff;
    padding-top: 2em;
    height: 13em;
}
.footer a {
    color: black;
}

.footer ul{
    margin-left: 30em;
}
.barre {
    background-color: #fffcfc;
    height: 1px;
    width: 60em;
    margin-left: 28em;
    opacity: 0.2;
}
.ul1{
    margin-top: 2em;
    word-spacing: 2em;
}
.ul2{
   position: relative;
    right: 10em;
    margin-top: 2em;
    font-size: smaller;
}
.ul2 a{
    color: #7a7a7a;
    margin: 3em;
}
.footd a{
    color: #707070;
    position: relative;
    left: 24em;
    font-weight: bolder;
}
.apropos{
    word-spacing: normal;
}
.filtre{
    position: relative;
    top: 15px;
}
.footbas{
    height: 6em;
    background-color: #efeeee;
    width: 117em;
    padding-top: 4em;
}
.footbas > span{
    position: relative;
    left: 55em;
    font-size: smaller;
    color: #7a7a7a;
}
